#arrow-link {
    display: none;
}

.article__content {
    margin-top: 32px;
}

.caterory-link {
    text-decoration: none;
    font-family: var(--clr-fontfamily-tertiary);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
}

.active {
    color: var(--clr-bg-primary);
}

.article__title {
    margin-top: 24px;
    font-family: var(--clr-fontfamily-secondary);
    font-style: normal;
    font-weight: bold;
    font-size: clamp(1.2em, 3.5vw, 2.6em);
    letter-spacing: -1.7px;
    line-height: 150%;
}

.article__date {
    margin-top: 16px;
    font-family: var(--clr-fontfamily-tertiary);
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
}

.article__text {
    margin-top: 16px;
    font-family: var(--clr-fontfamily-secondary);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.523077px;
    color: var(--clr-text-grey);
}

.first {
    font-weight: 500;
    margin-top: 16px;
    font-family: var(--clr-fontfamily-secondary);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.523077px;
    color: var(--clr-text-grey);
}

.color,
.download a {
    text-decoration: none;
    color: var(--clr-bg-primary);
}

.img-secondary {
    margin: 24px 0 8px 0;
}

.article__content img:not(:first-child) {
    margin: 24px auto;
    display: flex;
    justify-content: center;
}

img {
    max-width: 100%;
}

.video {
    min-height: 189px;
}

.download {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr-bg-gray);
    margin: 0 -16px;
}

.download__title {
    font-family: var(--clr-fontfamily-secondary);
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -1px;
    text-transform: capitalize;
    margin-top: 32px;
}

.download__context {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 34px auto 40px;
    width: calc(100% - 56.5px);
}

.download__context img {
    max-width: 100%;
}

.download__subtitle {
    font-family: var(--clr-fontfamily-secondary);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    line-height: 150%;
    justify-content: center;
    text-align: center;
    align-self: center;
    margin-top: 12px;
    width: 80%;
}

@media (min-width: 800px) {
    .article__content {
        margin-top: 48px;
    }

    #arrow-link {
        display: block;
        height: 14px;
    }

    .caterory-link {
        margin-top: 64px;
    }

    .article__title {
        line-height: 62px;
    }

    .article__date {
        margin-top: 32px;

    }

    .first {
        margin-top: 34px;
        font-size: 20px;
        margin-bottom: 72px;
    }

    .img-secondary {
        margin: 0 0 40px 0;
    }

    .article__content img:not(:first-child) {
        margin: 0 0;
        margin: 40px 0;
    }

    .article__text {
        margin-top: 24px;
    }

    .download {
        margin: 0 -212px;
        margin-top: 72px;
        height: 289px;
    }

    .download__title {
        font-size: 36px;
        margin-top: 72px;
        line-height: 150%;
    }

    .download__context {
        flex-direction: row;
        width: 514px;
        height: 43px;
        justify-content: space-around;
        margin: 56px auto 0;
        align-items: flex-start;
    }

    .download__subtitle {
        width: 461px;
        font-size: 18px;
        align-self: flex-start;
        margin-top: 0;
    }

}