main {
    margin-top: 30px;
}

.content-width {
    width: 90%;
    margin: 0 auto;
}

.blog__title {
    height: 80px;
    background-color: var(--clr-bg-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.title {
    font-style: normal;
    font-weight: 100;
    font-size: clamp(1.6em, 5vw, 2.2em);
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.15px;

}

.blog__title:after {
    content: '';
    position: absolute;
    background-color: var(--clr-bg-secondary);
    height: 24px;
    width: min(48%, 400px);
    right: 0;
    top: 68px;
}

.blog__content {
    margin-top: 44px;
}

.categories-links {
    width: 74%;
    margin: 0 auto;
    height: 60px;
    flex-wrap: wrap;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
}

.categories-links a {
    text-decoration: none;
    font-family: var(--clr-fontfamily-primary);
    font-weight: 100;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.15px;
    color: var(--clr-text);
    display: flex;
    align-items: center;
    height: 18px;
}

.categories-links a.active {
    background-color: var(--clr-bg-secondary);
    color: var(--clr-text-secondary);
    padding: 4px 12px;
    border-radius: 2px;
    align-items: flex-start;
    height: 24px;
}

.blog-list {
    margin-top: 32px;
    display: flex;
    gap: 1.2em;
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    flex-wrap: wrap;
    justify-content: center;
}

.blog-item {
    display: flex;
}

.blog-item img {
    max-width: 100%;
    object-fit: cover;
}

.blog-item__context {
    position: absolute;
    margin-top: 132px;
    margin-left: 24px;
    color: var(--clr-text-secondary)
}

.blog-item__date {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.2px;
}

.blog-item__title {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.35px;
    margin-top: 7px;
}

.blog-item__button {
    margin-top: 18px;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.15px;
    display: none;
    outline: none;
}

.blog-item:hover {
    cursor: pointer;
}

.blog-item:hover .blog-item__context {
    margin-top: 92px;
    transition: margin-top 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.blog-item:hover .blog-item__button {
    display: block;
    opacity: 0;
    transition: 1s;
    animation: show 1s 1;
    animation-fill-mode: forwards;
    animation-delay: .2s;
}

/*animation for Read article button */
@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.pagination {
    margin-top: 24px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 13px;
}

.pagination a {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    font-weight: normal;
    align-items: center;
    padding: 4px 10px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: var(--clr-bg-primary);
    color: var(--clr-text-secondary);
}

@media (min-width: 800px) {
    .blog__title {
        margin-top: 64px;
        height: 148px;
        width: 85%;
    }

    .title {
        padding: 52px 0;
    }

    .blog__title::after {
        height: 70px;
        top: 113px;
    }

    .blog__content {
        width: 85%;
        margin-top: 0;
    }

    .categories-links {
        margin-top: 107px;
        width: 534px;
        float: left;
        margin-bottom: 20px;
    }

    .categories-links a {
        margin-right: 24px;
        height: 26px;
    }

    .blog-list {
        width: 100%;
    }

    .blog-item__context {
        transition: margin-top 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    }

    .pagination {
        margin-top: 64px;
        margin-bottom: 72px;
    }

}