main {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}

.blog__title {
    width: 90%;
    margin: 0 auto;
    height: 80px;
    background-color: var(--clr-bg-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.title {
    font-style: normal;
    font-weight: 100;
    font-size: clamp(1.6em, 5vw, 2.2em);
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.15px;

}

.blog__title:after {
    content: '';
    position: absolute;
    background-color: var(--clr-bg-secondary);
    height: 24px;
    width: min(48%, 400px);
    right: 0;
    top: 68px;
}

.blog__content {
    width: 90%;
    margin: 0 auto;
    margin-top: 44px;
}

.categories-links {
    display: flex;
    width: 74%;
    margin: 0 auto;
    height: 60px;
    flex-wrap: wrap;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;

}

.categories-links a {
    text-decoration: none;
    font-family: var(--clr-fontfamily-primary);
    font-weight: 100;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.15px;
    color: var(--clr-text);
    display: flex;
    align-items: center;
    height: 18px;
    display: flex;

}

.categories-links a.active {
    background-color: var(--clr-bg-secondary);
    color: var(--clr-text-secondary);
    padding: 4px 12px;
    border-radius: 2px;
    align-items: flex-start;
}


.blog-list {
    margin-top: 32px;
    display: flex;
    gap: 1.2em;
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    flex-wrap: wrap;
}

.blog-item {
    display: flex;
}

.blog-item img {
    max-width: 100%;
    object-fit: cover;
}

.blog-item__context {
    position: absolute;
    margin-top: 132px;
    margin-left: 24px;
    color: var(--clr-text-secondary)
}

.blog-item__date {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.2px;
}

.blog-item__title {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.35px;
    margin-top: 7px;
}

.blog-item__button {
    margin-top: 18px;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.15px;
}

.pagination {
    margin-top: 24px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 13px;
}

.pagination a {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    font-weight: normal;
    align-items: center;
    padding: 4px 10px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: var(--clr-bg-primary);
    color: var(--clr-text-secondary);
}

/* mouse on */
.pagination a:hover:not(.active) {
    background-color: #ddd;
}

@media (min-width: 800px) {
    .blog__title {
        margin-top: 64px;
        max-height: 148px;
        height: 148px;
        width: 85%;
    }

    .title {
        padding: 52px 0;
    }

    .blog__title::after {
        height: 70px;
        top: 113px;
    }

    .blog__content {
        width: 85%;
    }

    .categories-links {
        flex-grow: 1;
        margin-top: 70px;
        display: flex;
        width: 37%;
        float: left;
        margin-bottom: 20px;
    }

    .categories-links a {
        display: flex;
        justify-content: space-between;
        height: 26px;
    }

    .categories-links a.active {
        background-color: var(--clr-bg-secondary);
        color: var(--clr-text-secondary);
        padding: 4px 12px;
        border-radius: 2px;
        align-items: flex-start;
    }

    .blog-list {
        margin-top: 468px;
        display: flex;
        gap: 1.2em;
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        flex-wrap: wrap;
        width: 85%;
    }

    .blog-item {
        display: flex;
    }


    .blog-item img {
        max-width: 100%;
        object-fit: cover;
    }

    .blog-item__context {
        position: absolute;
        margin-top: 132px;
        margin-left: 24px;
        color: var(--clr-text-secondary)
    }

    .blog-item__date {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.2px;
    }

    .blog-item__title {
        font-weight: 500;
        font-size: 20px;
        letter-spacing: -0.35px;
        margin-top: 7px;
    }

    .blog-item__button {
        margin-top: 18px;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0.15px;
    }



}