@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-Medium.eot');
    src: local('HelveticaNeueCyr-Medium'),
        url('HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCyr-Medium.woff') format('woff'),
        url('HelveticaNeueCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-Heavy.eot');
    src: local('HelveticaNeueCyr-Heavy'),
        url('HelveticaNeueCyr-Heavy.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCyr-Heavy.woff') format('woff'),
        url('HelveticaNeueCyr-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-HeavyItalic.eot');
    src: local('HelveticaNeueCyr-HeavyItalic'),
        url('HelveticaNeueCyr-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCyr-HeavyItalic.woff') format('woff'),
        url('HelveticaNeueCyr-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-Black.eot');
    src: local('HelveticaNeueCyr-Black'),
        url('HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCyr-Black.woff') format('woff'),
        url('HelveticaNeueCyr-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-UltraLightItalic.eot');
    src: local('HelveticaNeueCyr-UltraLightItalic'),
        url('HelveticaNeueCyr-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCyr-UltraLightItalic.woff') format('woff'),
        url('HelveticaNeueCyr-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-BlackItalic.eot');
    src: local('HelveticaNeueCyr-BlackItalic'),
        url('HelveticaNeueCyr-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCyr-BlackItalic.woff') format('woff'),
        url('HelveticaNeueCyr-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-ThinItalic.eot');
    src: local('HelveticaNeueCyr-ThinItalic'),
        url('HelveticaNeueCyr-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCyr-ThinItalic.woff') format('woff'),
        url('HelveticaNeueCyr-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-MediumItalic.eot');
    src: local('HelveticaNeueCyr-MediumItalic'),
        url('HelveticaNeueCyr-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCyr-MediumItalic.woff') format('woff'),
        url('HelveticaNeueCyr-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-LightItalic.eot');
    src: local('HelveticaNeueCyr-LightItalic'),
        url('HelveticaNeueCyr-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCyr-LightItalic.woff') format('woff'),
        url('HelveticaNeueCyr-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-UltraLight.eot');
    src: local('HelveticaNeueCyr-UltraLight'),
        url('HelveticaNeueCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCyr-UltraLight.woff') format('woff'),
        url('HelveticaNeueCyr-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-BoldItalic.eot');
    src: local('HelveticaNeueCyr-BoldItalic'),
        url('HelveticaNeueCyr-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCyr-BoldItalic.woff') format('woff'),
        url('HelveticaNeueCyr-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-Italic.eot');
    src: local('HelveticaNeueCyr-Italic'),
        url('HelveticaNeueCyr-Italic.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCyr-Italic.woff') format('woff'),
        url('HelveticaNeueCyr-Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-Roman.eot');
    src: local('HelveticaNeueCyr-Roman'),
        url('HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCyr-Roman.woff') format('woff'),
        url('HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-Bold.eot');
    src: local('HelveticaNeueCyr-Bold'),
        url('HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCyr-Bold.woff') format('woff'),
        url('HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-Light.eot');
    src: local('HelveticaNeueCyr-Light'),
        url('HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCyr-Light.woff') format('woff'),
        url('HelveticaNeueCyr-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-Thin.eot');
    src: local('HelveticaNeueCyr-Thin'),
        url('HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCyr-Thin.woff') format('woff'),
        url('HelveticaNeueCyr-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'HelveticaNeueCyr';
    background: #FFFFFF;
}

.wrapper {
    display: block;
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    height: 96px;
    width: 1440px;
    position: absolute;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    width: 1224px;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 260px;
    height: 62px;
    background-image: url(../img/&_logo.png);
    background-repeat: no-repeat;

}

.context {
    width: 456px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    width: 244px;
    height: 16px;
    display: flex;
    justify-content: space-between;
}

.navigation a {
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    color: #121212;
}

.social-lincs,
.footer-social-links {
    width: 164px;
    height: 32px;
    display: flex;
    justify-content: space-between;
}

.hero {
    margin-top: 96px;
    height: 792px;
    background-image: url(../img/hero_bg.jpg);
    display: flex;
    justify-content: center;

}

.hero div {
    margin-top: 276px;
    width: 923px;
    height: 144px;
    font-size: 48px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    font-weight: 200;
    letter-spacing: 0.75px;
}

.hero span {
    letter-spacing: 0.1px;
    font-weight: 400;
}

.info {
    height: 528px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-text {
    width: 1016px;
    height: 158px;
    margin-top: 72px;
    text-align: center;
    font-size: 24px;
    line-height: 170%;
    font-weight: 300;
    letter-spacing: 0.08px;
}

.info-context {
    margin-top: 34px;
    width: 600px;
    height: 240px;
    display: flex;
    justify-content: space-between;
}

.info-img {
    width: 207px;
}

.info-btn button {
    margin-top: 72px;
    width: 339px;
    height: 72px;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    border: 1px solid #121212;
    align-items: center;
    text-align: center;
    background-color: #FFFFFF;
}

.info-btn div {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url(../img/keyboard_arrow_right.svg);
}


.propos {
    height: 1272px;
    display: flex;
    flex-direction: column;
}

.title {
    width: 812px;
    height: 100px;
    background-color: #83A8EF;
    margin-top: 72px;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 44px;
    line-height: 100%;
    letter-spacing: 0.15px;
    font-weight: lighter;
    padding-left: 108px;
    z-index: 100;
}

.text {
    width: 1120px;
    height: 325px;
    margin: 56px 0 47px 108px;
    font-weight: 200;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.6px;
    font-style: normal;
}

.text b {
    font-family: 'Roboto';
    letter-spacing: 1.35px;
}

.propos__video {
    display: flex;
    justify-content: center;
}

.equipe__title {
    font-weight: 300;
}

.equipe__context {
    height: 692px;
    background: #F7F7F7;
    display: flex;
    flex-direction: column;
}

.equipe__text {
    margin-top: 0px;
    padding-top: 68px;
    height: 144px;
}

.equipe__column {
    width: 1224px;
    height: 432px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 96px;
}

.item-equipe {
    width: 392px;
    height: 432px;
    background-color: #FFFFFF;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-equipe__img {
    margin-top: 44px;
    height: 200px;
}

.item-equipe__title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin-top: 32px;
    height: 32px;
}

.item-equipe__text {
    text-align: center;
    color: #597EC7;
    font-size: 16px;
    line-height: 150%;
    margin-top: 16px;
}

.valeurs {
    height: 984px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.valeurs__quite {
    width: 1224px;
    height: 312px;
    margin-top: 48px;
    background: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.valeurs__title {
    font-size: 44px;
    line-height: 100%;
    text-align: center;
    margin-top: 52px;
    font-weight: 200;
}

.valeurs__text {
    font-size: 36px;
    line-height: 140%;
    text-align: center;
    font-weight: 300;
    margin-top: 32px;
    font-family: -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
}

.valeurs__element {
    width: 400px;
    height: 70px;
    background: #83A8EF;
    margin: -35px 108px 0 auto;
    z-index: 20;
}

.valeurs__column {
    width: 1224px;
    height: 980;
    margin-top: 61px;
    display: flex;
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-valeurs {
    width: 600px;
    height: 216px;
    display: flex;
}

.item-valeurs__img {
    margin-left: 32px;
    margin-top: 32px;
}

.valeurs__column>div:nth-last-of-type(-n+2) {
    margin-top: 48px;
}

.item-valeurs__title {
    font-weight: bold;
    font-size: 44px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: -1px;
    margin: 71px 0 0 40px;
}

.item-valeurs__text {
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -0.25px;
    margin: 12px 0 0 40px;
}

.blog {
    height: 720px;
    display: flex;
    flex-direction: column;
}


.contacts__row {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 1224px;
    justify-content: space-between;
    margin-top: 44px;
}

.item-blog {
    width: 392px;
    height: 360px;
    background-image: url(../img/blog/blog_img.png);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-blog__context {
    width: 344px;
    margin-top: 198px;
}

.item-blog__date {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.2px;
}

.item-blog__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;

    letter-spacing: -0.653846px;
    margin-top: 7px;
}

.item-blog__btn button {
    margin-top: 18px;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.15px;
    background-color: transparent;
    background: transparent;
    outline: none;
    border: none;
    color: #FFFFFF;
}

.blog__btn button {
    outline: none;
    border: none;
    margin-top: 32px;
    margin-left: 1090px;
    width: 240px;
}

.contacts {
    width: 1440px;
    height: 672px;
    display: flex;
    border: 1px solid black;
}

.contacts__title {
    position: absolute;
}

.contacts__info {
    width: 366;
    height: 114px;
    position: absolute;
    margin: 221px 0 0 107px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts__item {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.25px;
}

.contacts__item span:nth-child(1) {
    display: inline-block;
    width: 78px;
    margin-right: 10px;
}

.contacts__item span:last-child {
    font-weight: 400;
    line-height: 21px;
}

.contact-form {
    width: 707px;
    position: relative;
    margin-left: 733px;
    background-color: #003870;
    z-index: 1;
    border: 1px solid black;
    display: flex;
    align-items: center;

}



.contact-form__context {
    width: 400px;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    text-decoration: none;

}

input,
textarea {
    width: 100%;
    height: 44px;
    background-color: #003870;
    border: 1px solid #FFFFFF;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 26px;
    align-items: center;
}

input::placeholder {
    white-space: pre-wrap;

}

/*change placeholder color*/
::-webkit-input-placeholder {
    color: #FFFFFF;
    padding-left: 12px;

}

#name {
    border: 1px solid #33608D;
}

#msg {
    border: 1px solid #33608D;
    height: 206px;
    padding-top: 14px;
}


.contact-form__btn {
    background-color: transparent;
    background: transparent;
    outline: none;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    width: 156px;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.15px;
    margin-top: 20px;
    margin-right: 5px;
    height: 44px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.contact-form__btn div {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url(../img/keyboard_arrow_right.svg);
}

footer {
    width: 1440px;
    height: 168px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;

}

.footer-text {
    margin-top: 24px;
    width: 295px;
    height: 14px;
    font-size: 14px;
    text-align: center;
    line-height: 100%;
}