.main {
    width: 100%;
}

.content-width {
    width: 90%;
    margin: 0 auto;
}

.hero {
    height: 240px;
    display: flex;
    background-image: url(../img/hero/&_bg_mob.png);
    background-repeat: no-repeat;
    background-size: 100%
}

.hero__title {
    font-family: var(--clr-fontfamily-secondary);
    font-style: normal;
    font-weight: 100;
    font-size: clamp(1.2em, 3.6vw, 2.4em);
    line-height: 150%;
    text-align: center;
    color: var(--clr-text-secondary);
    display: flex;
    align-items: center;
    margin: auto;
    max-width: 90%;
}

.hero__title span {
    font-weight: 400;
}

.info {
    margin: 32px auto;
    display: flex;
    flex-direction: column;
}

.info-text,
.propos__text,
.equipe__text {
    font-family: var(--clr-fontfamily-primary);
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
}

.info-context {
    margin: 34px auto 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-img {
    margin-bottom: 54px;
}

.btn-large {
    width: 100%;
    height: 72px;
    background-color: transparent;
    background: transparent;
    outline: none;
    color: var(--clr-text);
    border: 1px solid var(--clr-text-link-primary);
    font-size: 18px;
    text-align: left;
    padding: 27px 0 26px 5px;
    display: flex;
    background-color: var(--clr-bg-light);
    cursor: pointer;
}

.btn-large:hover,
.btn-large:active {
    color: var(--clr-bg-primary);
    border: 1px solid var(--clr-bg-primary);
    cursor: pointer;
}

.btn-large img {
    margin-right: auto;
    padding-right: 5px;
    padding-left: 5px;
    filter: invert(0%) sepia(13%) saturate(777%) hue-rotate(326deg) brightness(94%) contrast(86%);
}

/*chanding svg icon color on hover*/
.btn-large:hover img {
    filter: invert(12%) sepia(55%) saturate(6136%) hue-rotate(199deg) brightness(97%) contrast(103%);
}

.content-title {
    font-family: var(--clr-fontfamily-primary);
    font-style: normal;
    font-weight: 100;
    font-size: 32px;
    line-height: 100%;
    text-align: start;
    letter-spacing: 0.15px;
    padding: 28px 0 28px 5%;
    background-color: var(--clr-bg-secondary);
    margin-bottom: 56px;
}

.propos__text,
.equipe__text {
    text-align: start;
    margin-bottom: 47px;
}

.propos__video img {
    min-height: 189px;
    max-width: 100%;
    align-self: center;
}

.equipe {
    margin-top: 68px;
}

.equipe .content-title {
    margin-bottom: 0;
}

.equipe__text,
.equipe__context {
    background-color: var(--clr-bg-gray);
}

.equipe__text {
    padding-top: 56px;
}

.equipe__column {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.item-equipe {
    height: 404px;
    width: 100%;
    align-content: center;
    margin-bottom: 24px;
    background-color: var(--clr-bg-light);
}

.item-equipe a {
    outline: none;
    text-decoration: none;
    color: var(--clr-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.item-equipe__img {
    margin-top: 44px;
}

.item-equipe__title {
    margin-top: 23px;
    font-family: var(--clr-fontfamily-primary);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.item-equipe__text {
    margin-top: 16px;
    font-family: var(--clr-fontfamily-primary);
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: var(--clr-text-team-card);
}


.hover-on {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    top: 44px;
    margin: 0 auto;
    background: var(--clr-bg-secondary);
    opacity: 0;
    transition: all .3s ease-in-out;
}

.hover-img {
    position: absolute;
    top: 66px;
    left: 66px;
}

.item-equipe__img:hover .hover-on {
    opacity: .8;
}


.valeurs__quite {
    margin: 0 auto;
    margin-top: 44px;
    height: 200px;
    background-color: var(--clr-bg-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.valeurs__title {
    font-weight: 200;
    font-size: 24px;
    letter-spacing: -1px;
    height: 72px;
    line-height: 150%;
    margin: 32px 0 32px 0;
}

.valeurs__text {
    font-weight: 300;
    font-size: 16px;
    height: 216px;
    line-height: 150%;
    margin-bottom: 24px;
    text-align: center;
}

.valeurs__quite::after {
    content: "";
    position: absolute;
    background: var(--clr-bg-secondary);
    height: 24px;
    width: min(48%, 137px);
    right: 0;
    top: 186px;
    z-index: 1;
}

.valeurs__column {
    display: flex;
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    flex-wrap: wrap;
    gap: 1.2em;
    margin: 96px 5% 120px 5%;
}

.item-valeurs {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    align-content: center;
}

.item-valeurs__img {
    align-self: center;
}

.item-valeurs__title {
    font-family: var(--clr-fontfamily-primary);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -1px;
    text-align: center;
}

.item-valeurs__text {
    font-family: var(--clr-fontfamily-primary);
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -0.25px;
    margin-top: 18px;
    text-align: center;
}

.blog-item {
    display: flex;
}

.blog-item img {
    max-width: 100%;
    object-fit: cover;
}

.blog-item__context {
    position: absolute;
    margin-top: 92px;
    margin-left: 24px;
    color: var(--clr-text-secondary)
}

.blog-item__date {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.2px;
}

.blog-item__title {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.35px;
    margin-top: 7px;
}

.blog-item__button {
    margin-top: 18px;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.15px;
    outline: none;
}

.blog-list {
    margin-top: 32px;
    display: flex;
    gap: 1.2em;
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    flex-wrap: wrap;
    justify-content: center;
}

.info-btn {
    margin-left: auto;
}

.blog__btn {
    border: none;
    padding: 26px 0 26px 15px;
}

.blog__btn img {
    padding-right: 4px;
    padding-left: 10px;
}

@media (min-width: 800px) {

    .content-width {
        width: 85%;
        margin: 0 auto;
    }

    .hero {
        height: 792px;
    }

    .hero__title {
        margin-top: 276px;

    }

    .info {
        margin: 0 auto;
        height: 600px;
        width: 100%;
    }

    .info-text,
    .propos__text,
    .equipe__text {
        font-size: 24px;
        margin: 0 auto;
        margin-top: 72px;
        width: 71%;
    }

    .info-context {
        flex-direction: row;
    }

    .info-img {
        margin-right: 54px;
        margin-bottom: 0;
    }

    .btn-large {
        width: 339px;
        text-align: left;
        padding: 27px 0 26px 24px;
    }

    .btn-large img {
        padding-right: 5px;
        padding-left: 40px;

    }

    .content-title {
        font-size: 44px;
        padding: 28px 0 28px 7.5%;
        width: 56.4%;
    }

    .propos__text {
        width: 80%;
        margin-top: 0;
    }

    .propos__video {
        margin-top: 47px;
    }

    .equipe__text {
        width: 85%;
        padding-top: 0;
    }

    .equipe__column {
        display: flex;
        flex-direction: row;
        margin-top: 76px;
        gap: 24px;
    }

    .item-equipe {
        height: 404px;
        width: 392px;
        margin-bottom: 0;
    }

    .item-equipe__title {
        margin-top: 32px;
    }

    .valeurs {
        height: 984px;
    }

    .valeurs__quite {
        margin-top: 48px;
        height: 312px;
    }

    .valeurs__title {
        font-size: 44px;
        margin: 32px 0 32px 0;
    }

    .valeurs__text {
        font-size: 36px;
        height: 101px;
        line-height: 140%;
        margin-bottom: 83px;
    }

    .valeurs__quite::after {
        height: 70px;
        width: min(35%, 400px);
        top: 277px;
    }


    .valeurs__column {
        margin: 96px 7.5% 120px 7.5%;
        height: 480px;
    }


    .item-valeurs {
        display: flex;
        flex-direction: row;
        width: 600px;
        height: 216px;
        border: black 1px solid;
    }

    .item-valeurs__img {
        margin-left: 32px;
    }

    .item-valeurs__title {
        font-size: 44px;
        line-height: 100%;
        margin-top: 71px;
        margin-left: 40px;
    }


    .item-valeurs__text {
        margin-left: 40px;
        text-align: left;
    }


    .valeurs__column .item-valeurs__text:nth-child(1),
    .valeurs__column .item-valeurs__text:nth-child(2) {
        margin-top: 12px;
    }

    .blog-item img {
        width: 392px;
        height: 360px;
        object-fit: cover;
    }


    .blog-item__context {
        width: 334px;
        margin-top: 198px;
    }


    .blog-item__title {
        font-weight: 700;
        font-style: normal;
        font-size: 24px;
        letter-spacing: -0.653846px;
        margin-top: 7px;
    }

    .blog__btn {
        margin-bottom: 40px;
        width: auto;
    }


    .blog__btn img {
        padding-right: 30px;
        padding-left: 32px;
    }

}