* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: Arial,
        Helvetica,
        sans-serif;
}

.wrapper {
    display: block;
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    height: 96px;
    width: 1440px;
    position: absolute;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    width: 1224px;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 260px;
    height: 62px;
    background-image: url(../img/&_logo.png);
    background-repeat: no-repeat;

}

.context {
    width: 456px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    width: 244px;
    height: 16px;
    display: flex;
    justify-content: space-between;
}

.navigation a {
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    color: #121212;

}

.social-lincs,
.footer-social-links {
    width: 164px;
    height: 32px;
    display: flex;
    justify-content: space-between;
}

main {
    /* margin-top: 96px;
    height: 500px; */
}

.contacts {
    margin-top: 96px;
    width: 1440px;
    height: 672px;
    position: relative;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer {
    width: 1440px;
    height: 168px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
}

.footer-text {
    margin-top: 24px;
    width: 295px;
    height: 14px;
    font-size: 14px;
    text-align: center;
    line-height: 100%;
}