.policy__title{
    font-family: var(--clr-fontfamily-secondary);
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 62px;
        letter-spacing: -1.7px;
        margin-top: 48px;
        margin-bottom: 40px;
}

.policy__subtitle {
    font-family: var(--clr-fontfamily-secondary);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.523077px;
    margin-top: 40px;
}
.policy__item {
        font-family: var(--clr-fontfamily-secondary);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: -0.523077px;
    margin-top: 16px;
}

.list__item {
  font-family: var(--clr-fontfamily-secondary);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: -0.523077px;
  margin-left: 25px;
}

