.main {
    width: 100%;
}

.hero {
    height: 240px;
    display: flex;
    background-image: url(../img/hero/&_bg_mob.png);
    background-repeat: no-repeat;
    background-size: 100%
}

.hero__title {
    font-family: var(--clr-fontfamily-secondary);
    font-style: normal;
    font-weight: 100;
    font-size: clamp(1.2em, 3.6vw, 2.4em);
    line-height: 150%;
    text-align: center;
    color: var(--clr-text-secondary);
    display: flex;
    align-items: center;
    margin: auto;
    max-width: 90%;
}

.hero__title span {
    font-weight: 400;
}

.info,
.quote,
.metodology {
    width: 90%;
    margin: 32px auto;
}

.info-text {
    font-family: var(--clr-fontfamily-secondary);
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
}

.info p:not(:first-child) {
    margin-top: 24px;
}

.quote {
    background-color: var(--clr-bg-gray);
    font-family: var(--clr-fontfamily-primary);
    font-style: normal;
    font-weight: 100;
    font-size: 32px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.15px;
    padding: 24px 0;
    position: relative;
}

.quote::after {
    content: "";
    position: absolute;
    background: var(--clr-bg-secondary);
    height: 24px;
    width: min(48%, 137px);
    right: 0;
    top: 68px;
    z-index: 1;
}

.tabmenu {
    width: 90%;
    margin: auto;
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--clr-border-second);
    /* overflow-x: auto;
 overflow-y: hidden; */
}

.tab__item-first,
.tab__item-second,
.tab__item-third {
    font-family: var(--clr-fontfamily-secondary);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--clr-text);
}

.tab__item-first {
    width: 28%;
}

.tab__item-second {
    width: 32%;
    padding-bottom: 10px;
}

.tab__item-third {
    width: 29%;
    padding-bottom: 10px;
}

.tabmenu a,
.tabs {
    display: flex;
    flex-direction: column;
}

.tabmenu img {
    display: none;
}

.tabs>#content-1:target~.tabmenu a[href="#content-1"],
.tabs>#content-2:target~.tabmenu a[href="#content-2"],
.tabs>#content-3:target~.tabmenu a[href="#content-3"] {
    color: var(--clr-bg-primary);
    border-bottom: 2px solid var(--clr-bg-primary);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding-bottom: 10px;
    cursor: default;
}

.tabs>div:not(.tabmenu) {
    display: none;
    order: 1;
}

.tabs>div:target {
    display: block;
}

.carousel {
    width: 100%;
    margin: 0 auto;
}

.slides {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.bullets {
    width: 88px;
    display: flex;
    justify-content: space-between;
    margin: 32px auto;
}

.bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #B8B8B8;
    cursor: pointer;
}

.carousel input {
    display: none;
}

.slides-container {
    width: 400%;
    height: 100%;
    display: flex;
}

.slide {
    width: 25%;
    transition: all .6s ease;
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}


#slide1:checked~.slides .slides-container .sl1 {
    margin-left: 0%;
}

#slide2:checked~.slides .slides-container .sl1 {
    margin-left: -25%;
}

#slide3:checked~.slides .slides-container .sl1 {
    margin-left: -50%;
}

#slide4:checked~.slides .slides-container .sl1 {
    margin-left: -75%;
}

.inner {
    width: 100%;
    height: 100%;
}

#slide1:checked~.bullets label:nth-child(1),
#slide2:checked~.bullets label:nth-child(2),
#slide3:checked~.bullets label:nth-child(3),
#slide4:checked~.bullets label:nth-child(4) {
    background: var(--clr-bg-primary);
}


.slide-title {
    font-family: var(--clr-fontfamily-secondary);
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 150%;
    align-items: center;
    margin: 8px 0 32px 24.5%;
    position: relative;
}

.slide-img {
    height: 252px;
    width: 88.9%;
    margin-left: auto;
    z-index: 10;
    position: relative;
}

.slides-container .slide:first-child .slide-img::before {
    width: 80px;
    height: 284px;
    background-color: var(--clr-bg-secondary);
    content: "";
    position: absolute;
    z-index: -1;
    left: -32px;
    top: -16px;
}

.slider-text {
    font-family: var(--clr-fontfamily-secondary);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    margin-top: 32px;
}

.slides-container .slide:not(:first-child) .slider-text,
.slides-container .slide .second__slider-text {
    margin-top: 16px;
}

.slides-container .slide:not(:first-child) .slide-img,
.slides-container .slide .second__slide-img {
    height: 189px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.slides-container .slide:not(:first-child) .slide-title,
.slides-container .slide .second__slide-title {
    background-color: var(--clr-bg-secondary);
    margin-bottom: 24px;
    padding: 8px 16px;
}

.list-item {
    font-weight: 300;
    font-size: 16px;
    list-style-position: inside;
    line-height: 150%;
}

.list-item:first-child {
    margin-top: 16px;
}

.list-item span {
    font-weight: normal;
}

.metodology {
    margin-top: 24px;
    background-color: var(--clr-bg-gray);
    font-family: var(--clr-fontfamily-primary);
    font-style: normal;
    font-weight: 100;
    font-size: 32px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.15px;
    height: 115px;
    display: flex;
    align-items: center;
    position: relative;
}

.metodology::after {
    content: "";
    position: absolute;
    background: var(--clr-bg-secondary);
    height: 24px;
    width: min(48%, 137px);
    right: 0;
    top: 103px;
    z-index: 1;
}

.metodology p {
    width: 66%;
    margin: 0 auto;
}

.metoda {
    width: 100%;
    margin: 0 auto;
    margin-top: 44px;
    height: 545px;
    background-color: var(--clr-bg-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.metoda__content {
    height: 401px;
    width: 90%;
    text-align: center;
    font-family: var(--clr-bg-secondary);
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.metoda__title {
    font-weight: 200;
    font-size: 24px;
    letter-spacing: -1px;
    height: 72px;
    line-height: 150%;
}

.metoda__subtitle {
    font-weight: normal;
    font-size: 18px;
    height: 81px;
    line-height: 150%;
}

.metoda__text {
    font-weight: 300;
    font-size: 16px;
    height: 216px;
    line-height: 150%;
}

.animation {
    width: 90%;
    height: 1431px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.animation-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.animation .animation-item:nth-child(1) {
    height: 324px;
}

.animation .animation-item:nth-child(3) {
    height: 297px;
}

.animation .animation-item:nth-child(3),
.animation .animation-item:nth-child(4) {
    margin-top: 40px;
}

.aninmation-img {
    margin: 0 auto;
    opacity: 0.3;
}

.aninmation-img:hover {
    opacity: 1;
}

.item-context {
    display: flex;
    height: 158px;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 16px;
}

.animation .item-context:nth-child(2) {
    height: 182px;

}

.animation .item-context:nth-child(3) {
    height: 131px;
    margin-top: 10px;
}

.item-context:nth-child(4) {
    height: 203px;
}


.item-title {
    font-family: var(--clr-fontfamily-primary);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
}

.animation-text {
    font-family: var(--clr-fontfamily-secondary);
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.25px;
}

.video {
    width: 90%;
    margin: 32px auto;
    height: 189px;
    display: flex;
    background-image: url(../img/service/&_video__mob.png);
    background-repeat: no-repeat;
    background-size: 100%
}

.button {
    width: 90%;
    height: 72px;
    margin: 0 auto;
    margin-bottom: 45px;
}

.btn__common {
    height: 72px;
    color: var(--clr-text);
    border: 1px solid var(--clr-text-link-primary);
    font-size: 20px;
    float: right;
    padding: 26px 0 26px 15px;
}

.btn__common:hover,
.btn__common:active {
    color: var(--clr-bg-primary);
    border: 1px solid var(--clr-bg-primary);
    cursor: pointer;
}

.btn__common img {
    margin-right: auto;
    padding-right: 24px;
    padding-left: 23px;
    filter: invert(0%) sepia(13%) saturate(777%) hue-rotate(326deg) brightness(94%) contrast(86%);
}

/*chanding svg icon color on hover*/
.btn__common:hover img {
    filter: invert(12%) sepia(55%) saturate(6136%) hue-rotate(199deg) brightness(97%) contrast(103%);
}

@media (min-width: 800px) {

    .hero {
        height: 395px;
        background-image: url(../img/hero/&_bg.png);
        background-size: cover;
    }

    .hero__title {
        max-width: 70%;
        text-align: center;
    }

    .info {
        width: 67%;
        margin: 72px auto;
    }

    .info-text {
        font-size: 24px;
    }

    .info p:not(:first-child) {
        margin-top: 48px;
    }

    .quote {
        margin-top: 144px;
    }

    .quote,
    .metodology {
        width: 85%;
        font-size: 44px;
        padding: 52px 0;
    }

    .quote::after,
    .metodology::after {

        height: 70px;
        width: min(32%, 400px);
        right: 0;
        top: 113px;
    }

    .tabmenu {
        width: 85%;
        margin-top: 35px;
        height: 210px;
    }

    .tab__item-first,
    .tab__item-second,
    .tab__item-third {
        font-size: 18px;
    }

    .tab__item-first {
        width: min(20%, 242px);
        margin-left: 5%;
        display: flex;
    }

    .tab__item-second {
        width: 243px;
    }

    .tab__item-third {
        width: min(10%, 124px);
        margin-right: 10%;
    }

    .tabmenu img {
        display: block;
    }

    .tabmenu a {
        opacity: 0.3;
    }

    .tabs>#content-1:target~.tabmenu a[href="#content-1"],
    .tabs>#content-2:target~.tabmenu a[href="#content-2"],
    .tabs>#content-3:target~.tabmenu a[href="#content-3"] {
        color: var(--clr-bg-primary);
        border-bottom: 2px solid var(--clr-bg-primary);
        opacity: 1;
        padding-bottom: 10px;
        cursor: default;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .bullet-dots {
        display: none;
    }

    .slides {
        width: 85%;
        margin: 0 auto;
        overflow: hidden;
    }

    .slide-title {

        font-size: 36px;
        align-items: flex-end;
        margin: 15px 0 32px 24.5%;
        position: relative;
    }

    .slide-img {
        height: 453px;
        width: 27%;
        margin-left: auto;
        z-index: 10;
        position: relative;
        float: left;
    }

    .slides-container .slide:first-child .slide-img::before {
        width: 0;
    }

    .slider-text p {
        font-size: 28px;
    }

    .slider-text {
        font-family: var(--clr-fontfamily-secondary);
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        margin-top: 32px;
    }

    .metodology {
        margin-top: 82px;
        height: 148px;
    }

    .metodology::after {
        height: 0;
    }

    .metoda {
        margin-top: 72px;
        height: 480px;
    }

    .metoda__content {
        height: 401px;
        width: 90%;
        text-align: center;
        font-family: var(--clr-bg-secondary);
        font-style: normal;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .metoda__title {
        font-size: 36px;
        margin-top: 30px;
    }

    .metoda__subtitle {
        font-size: 28px;
        height: 42px;
    }

    .metoda__text {
        font-size: 24px;
        width: 80%;
        margin-bottom: 42px;
        height: 144px;
    }

    .animation {
        width: 85%;
        height: 632px;
        margin: auto;
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        gap: 24px;
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        flex-wrap: wrap;
    }

    .animation-item {
        width: 600px;
        height: 332px;
        display: flex;
        flex-direction: row;
    }

    .animation .animation-item:nth-child(1) {
        height: 324px;
    }

    .animation .animation-item:nth-child(3) {
        height: 297px;
    }

    .animation .animation-item:nth-child(3),
    .animation .animation-item:nth-child(4) {
        margin-top: 0;
    }

    .aninmation-img {
        margin: 50px 0 0 32px;
    }

    .item-context {
        display: flex;
        height: 158px;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 16px;
    }

    .item-context .item-title {
        font-family: var(--clr-fontfamily-primary);
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 150%;
        letter-spacing: -1px;
        margin-top: 50px;
        margin-left: 40px;
    }

    .item-context .animation-text {
        font-family: var(--clr-fontfamily-primary);
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: -0.25px;
        margin-left: 40px;
    }

    .video {
        width: 85%;
        margin: 150px auto;
        height: 672px;
        display: flex;
        background-image: url(../img/service/&_video_desc.png);
        background-repeat: no-repeat;
        background-size: 100%
    }

    .button {
        width: 90%;
        height: 72px;
        display: flex;
        justify-content: center;
        margin-top: -70px;
        margin-bottom: 70px;
    }

}