@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-Medium.eot');
    src: local('HelveticaNeueCyr-Medium'),
        url('HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCyr-Medium.woff') format('woff'),
        url('HelveticaNeueCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-UltraLight.eot');
    src: local('HelveticaNeueCyr-UltraLight'),
        url('HelveticaNeueCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCyr-UltraLight.woff') format('woff'),
        url('HelveticaNeueCyr-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-Roman.eot');
    src: local('HelveticaNeueCyr-Roman'),
        url('HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCyr-Roman.woff') format('woff'),
        url('HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-Bold.eot');
    src: local('HelveticaNeueCyr-Bold'),
        url('HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCyr-Bold.woff') format('woff'),
        url('HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-Light.eot');
    src: local('HelveticaNeueCyr-Light'),
        url('HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCyr-Light.woff') format('woff'),
        url('HelveticaNeueCyr-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-text: #000000;
    --clr-text-secondary: #FFFFFF;
    --clr-text-disabled: #B8B8B8;
    --clr-bg-gray: #F7F7F7;
    --clr-bg-light: #FFFFFF;
    --clr-bg-primary: #004489;
    --clr-bg-secondary: #83A8EF;
    --clr-bg-third: #003870;
}

body {
    margin: 0 0.8em;
    background-color: var(--clr-bg-light);
    color: var(--clr-text);
    line-height: 150%;
    font-family: 'HelveticaNeueCyr';
    max-width: 1224px;
    width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    margin: 17px 0;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    max-width: 1224px;
    width: 100%;
}

.header-wrapper {
    display: flex;
    gap: 2.23em;
    margin-top: 12px;
}

.nav a {
    text-decoration: none;
    font-size: 16px;
    line-height: 100%;
    color: var(--clr-text);
}

.nav a.active {
    color: var(--clr-bg-primary);
    margin-left: 34px;
}

.social-links {
    display: flex;
    gap: 0.6em;
}

.main {
    flex: 1 1 auto;
    width: 100%;
}

footer {
    min-height: 168px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}

.footer__text {
    margin-top: 24px;
    max-width: 295px;
    min-height: 14px;
    font-size: 14px;
    text-align: center;
    line-height: 100%;
}